<phpunit bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuite name="Zend Framework - Testsuite">
        <directory>./tests/AllTests.php</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>./packages/*/library/Zend/</directory>
        </whitelist>
    </filter>

    <!-- uncomment to identify slow tests (default threshold: 0.5s) -->
    <!--
    <listeners>
        <listener class="SlowTestListener" file="tests/SlowTestListener.php">
            <arguments>
                <double>0.5</double>
            </arguments>
        </listener>
    </listeners>
    -->

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
