name: "Tests"

on:
  - pull_request
  - push

jobs:
  test:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        php:
          - "5.3"
          - "5.4"
          - "5.5"
          - "5.6"
          - "7.0"
          - "7.1"
          - "7.2"
          - "7.3"
          - "7.4"

    services:
      memcache:
        image: memcached:1-alpine
        ports:
          - 11211:11211

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: display_errors=off, log_errors=on
          extensions: :xdebug, ctype, dom, gd, iconv, ldap, mbstring, reflection, session, simplexml, spl, xml, zlib, memcache, pdo_sqlite, bcmath

      - name: Lint PHP source files
        run: |
          # Lint All PHP source files
          # Remove source expected to have syntax error
          git rm tests/Zend/Loader/_files/ParseError.php
          git ls-files '**/*.php' | while read f; do php -l "$f" > /dev/null || touch failed && echo -n .; done
          test ! -f failed

      # https://github.com/zf1s/zf1/pull/6#issuecomment-495397170
      - name: Validate composer.json for all packages
        run: |
          for json in composer.json packages/*/composer.json; do COMPOSER=$json composer validate || touch failed; done
          test ! -f failed

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run PHPUnit tests
        run: vendor/bin/phpunit --verbose

# vim:ft=yaml:et:ts=2:sw=2
